<!DOCTYPE html>
<html>
  <head>
    <title>blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<header>
    <h1><%= title %></h1>
</header>
    <nav>
    	<span><a title= "homepage" href="/">home</a></span>
    	<span><a title= "login" href="/login">login</a></span>
    	<span><a title= "register" href="/res">register</a></span>
    </nav>
 <article>